PORT=3030

DB_CONNECTION_STRING=mongodb://localhost:27017/help_hub

COST_FACTOR_CODE=10 

AGENT_INVITATION_CODE=1xw34df
SUPERVISOR_INVITATION_CODE=5ty7sc
ADMIN_SECERT_KEY=vfs324

JWT_SECRET_KEY=g4s3$w12
JWT_SECRET_EXPIRE_IN='1h'
